.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: #191920;
  color: #7F8084;
}

.emojiContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #27292D;
}

.contentTypography {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}